$primary-color: #007bff;

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    button {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        background-color: $primary-color;
        color: white;

        &:disabled {
        background-color: lightgray;
        cursor: not-allowed;
        }
    }
}